body {
    padding-top: 70px;
}
h1 {
	font-family: helvetica;
}
p {
    font-family: helvetica;
}
.logoFont {
    font-family: 'Coda';
	font-size: 22px;
}
.jumbotron {
	background-color: rgba(127, 127, 127, 0.3);
}
a.menu-item-lrg{
	font-weight: bold;
	color: red;
}
